.input
	padding 1px 40px 0 41px
	display block
	font 400 18px ff
	color inputColor
	background-color transparent
	border none
	wh(100%, 50px)
	transition all .2s ease-in-out
	&:focus
		color #000
		// background-color rgba(245, 255, 255, .15)
