.label
	padding 15px 0 5px 41px
	positionMix(0, 0, absolute)
	display block
	width 92%
	min-height 50px
	font 400 18px ff
	cursor text
	color inputColor
	border none
	height 50px
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	cursor text
	cursor move
	&__txt
		cursor text
