@import '../../styl/index.styl'
@import '../../components/**/*.styl'
@import '../../containers/**/*.styl'

:after,
:before
	box-sizing border-box

::selection
	color #fff
	background #000

body
	font normal 15px ff
	background url(body-light.png) no-repeat center top bodyBackgroundColor

main
	padding 60px
	@media only screen and (max-width point2)
		padding 0

.layout
	margin 0 auto
	padding 0 30px 70px
	display block
	max-width 900px
	background url(layout-light.png) no-repeat right bottom transparent
	box-shadow 2.5px 4.33px 59px 0 rgb(210, 68, 40)
	@media only screen and (max-width point4)
		padding 0 0 70px

.row
	display flex
	@media only screen and (max-width point1)
		flex-wrap wrap

.col
	padding 0 30px
	display block
	min-width 50%
	min-height 360px
	@media only screen and (max-width point1)
		min-width 100%




.dn
	display none !important



















/*--------------*/
