scrollbarTrack=#f67d65
scrollbarThumb=#fff
scrollbarThumbHover=#aaa
scrollWidth=1px
scrollHeight=10px

scrollbar
  width scrollWidth
  height scrollHeight

scrollbar-track
  background-color scrollbarTrack
  border-left 0 solid transparent

scrollbar-thumb
  background-color scrollbarThumb
  border-radius 0

scrollbar-thumb:hover
  background-color scrollbarThumbHover

::-webkit-scrollbar
  width scrollWidth
  height scrollHeight

::-webkit-scrollbar-track
  background-color scrollbarTrack
  border-left 0 solid transparent

::-webkit-scrollbar-thumb
  background-color scrollbarThumb
  border-radius 0;

::-webkit-scrollbar-thumb:hover
  background-color scrollbarThumbHover
