.sub-title
	padding 30px 36px 0 0
	display flex
	justify-content space-between
	font 700 42px ff
	text-align left
	letter-spacing .2px
	word-spacing .2px
	text-shadow 0 5px 10px rgba(0, 0, 0, .07)
	color titleColor
	@media only screen and (max-width point3)
		font-size 30px
	.dash
	.numb
		position relative
		left 0
		text-decoration none
		opacity 1
		transition all .2s ease-in-out




/*---*/
